services:

  mysql_affymetrix_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_affymetrix_idx
    ports:
      - "9000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: affymetrix
      MYSQL_USER: ontop
      MYSQL_PASSWORD: ontop123
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/affymetrix:/var/lib/mysql
      - ./sql/affymetrix.sql:/docker-entrypoint-initdb.d/affymetrix.sql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysql -uontop -pontop123 -h localhost -e 'SELECT 1' affymetrix || exit 1"
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s

  ontop:
    build: .
    container_name: ontop_affymetrix
    depends_on:
      mysql_affymetrix_idx:
        condition: service_healthy
    ports:
    - "8080:8080"
    restart: always

  mysql_chebi_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_chebi_idx
    ports:
      - "9001:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/chebi:/var/lib/mysql
      - ./sql/chebi.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_dailymed_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_dailymed_idx
    ports:
      - "9002:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/dailymed:/var/lib/mysql
      - ./sql/dailymed.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_diseasome_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_diseasome_idx
    ports:
      - "9003:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/diseasome:/var/lib/mysql
      - ./sql/diseasome.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_drugbank_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_drugbank_idx
    ports:
      - "9004:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/drugbank:/var/lib/mysql
      - ./sql/drugbank.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_kegg_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_kegg_idx
    ports:
      - "9005:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/kegg:/var/lib/mysql
      - ./sql/kegg.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_linkedct_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_linkedct_idx
    ports:
      - "9006:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/linkedct:/var/lib/mysql
      - ./sql/linkedct.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_medicare_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_medicare_idx
    ports:
      - "9007:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/medicare:/var/lib/mysql
      - ./sql/medicare.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_sider_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_sider_idx
    ports:
      - "9008:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/sider:/var/lib/mysql
      - ./sql/sider.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always

  mysql_tcga_idx:
    image: mysql:8.4
    container_name: prohde_lslod_mysql_tcga_idx
    ports:
      - "9009:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - ./config:/etc/mysql/conf.d
      - ../tsv:/data/prohde/lslod/tsv
      - ./volumes/tcga:/var/lib/mysql
      - ./sql/tcga.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always
